.toast {
  background: #9c27b0;
  display: none;
  position: fixed;
  top: 30px;
  right: 45px;
}

.toast .alert {
  margin-bottom: 0;
  padding: 15px;
  font-size: 14px;
}

.td-actions {
  white-space: nowrap;
}

.form-clinic .label-form {
  color:black;
  font-weight: 900;
}

.form-clinic .img_show,.img_show_other,.img_show_other_1,.img_show_banner,.img_show_other_2  {
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
  text-align: center;
}

.form-clinic .img_show .form-invalid {
  border-color: #dc3545;
}
.form-clinic .img_preview {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 8px;
  background: #fff;
}

.form-clinic .input-group.text-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-clinic .notice-span {
  color: red;
  font-size: 12px;
  display: block;
}

.form-clinic .dropzone {
  border-radius: 8px;
  border-width: 1px;
  margin-top: 15px;
}

.form-clinic .dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.form-clinic .dropzone-custom .title-dropzone {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
}

.form-card .form-group {
  padding-bottom: 20px;
}

.form-card .form-group label {
  color:black;
  font-weight: 500;
}

.form-card .form-group .form-control {
  background-image: unset !important;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-card .form-group .form-control.is-invalid {
  border-color: #dc3545;
}

.form-card .form-group.form-invalid .invalid-feedback {
  display: block;
}

.form-card .form-droppzone.form-invalid .dropzone {
  border-color: #dc3545;
}

.form-card .form-droppzone.form-invalid .invalid-feedback {
  display: block;
}

.card .card-body.card-form {
  padding: 30px 20px;
}

.timepicker-picker .timepicker-hour {
  text-align: center !important;
  display: inline-block !important;
  width: 100%;
  font-weight: 600;
}

.timepicker-picker .timepicker-minute {
  text-align: center !important;
  display: inline-block !important;
  width: 100%;
  font-weight: 600;
}

.bootstrap-datetimepicker-widget {
  padding: 10px !important;
}

/* STYLE FOR DROPDOWN SIDEBAR */
.nav-item.dropdown .dropdown_menu a{
    text-transform: inherit;
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    padding: 10px 15px;
    border-left: 2px solid transparent;
    border-radius: 0;
}
.nav-item.dropdown .dropdown_menu .item-dropdown{
  display: block;
}
.nav-item.dropdown .dropdown_menu .item-dropdown:hover{
  border-color: #000;
}
.nav-item.dropdown .nav-dropdown{
  position: relative;
}
.nav-item.dropdown .nav-dropdown .icon-dropdown{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1;
  height: 18px;
  font-size: 18px;
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.nav-item.dropdown .nav-dropdown.collapsed .icon-dropdown{
  transform: rotate(0);
  transition: transform 0.3s;
}

.img_preview{
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.sidebar[data-color="purple"] li.dropdown.active >a{
  background-color:black;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(14, 13, 14);
  color: #fff;
}
.sidebar[data-color="purple"] li.dropdown.active >a i{
  color: #fff;
}

.field-action form{
 display: inline-block;
}

.cke{
  padding: 1px !important;
}
.form-group.has-errors .cke{
  border-color: #dc3545;
}
.select2-container--default .select2-selection--multiple{
  height: auto !important;
}
#map-form{
  height: 400px;
  width: 100%;
}

.form-invalid .invalid-feedback{
  display: block;
}
.form-invalid .map-choose{
  border: 1px solid #dc3545;
  padding: 1px;
}

.form-check .form-check-label {
  color:#ab47bc;
}
.form-check .form-check-input {
  z-index:1!important;
  opacity: 1;
  height:18px;
  width:18px;
}

.form-check-input.is-valid~.form-check-label {
  color:#ab47bc;
}

.form-card .select2-container .select2-selection--single{
  height: 100%;
  min-height: 35px;
}
.form-card .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
}
.form-card .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 35px;
}
.form-invalid .select2-container--default .select2-selection--single{
  border: 1px solid #dc3545;
}

.form-group .bootstrap-tagsinput{
  display: block;
  width: 100%;
  padding: 5px;
  line-height: unset;
}
.form-group .bootstrap-tagsinput .tag{
  padding: 4px 10px;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  margin-bottom: 5px;
}
.has-errors .bootstrap-tagsinput{
  border-color: #dc3545;
}
.label-time{
  font-weight: bold !important;
}
.item-time{
  border-bottom: 1px solid #e5e5e5;
}
.item-time.has-errors .invalid-feedback{
  display: block;
}
.text-bold{
  font-weight: 600 !important;
}
.show-table{
  width: 100%;
}
.invalid-feedback.show{
  display: block;
}
.add-image{
  position: relative;
  display: inline-flex;
  vertical-align: top;
  margin: 16px;
  height: 120px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px dashed #ab47bc;
  cursor: pointer !important;
}
.add-image:hover, .add-image:focus{
  background: #e5e5e5;
  transition: all 0.2s;
}
.hidden{
  display: none;
}
.time-picker{
  position: relative;
  padding-right: 40px;
}

.input-group .input-group-addon{
  position: absolute;
    right: 10px;
    bottom: 25px;
    z-index: 999;
}
.notify-title{
  font-weight: 600;
  font-size: 15px !important;
}
.notify-message{
  font-size: 13px;
  display: block;
  max-width: 90% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert{
  padding-top: 15px;
  padding-bottom: 15px;
}
.alert .close{
  display: block !important;
}
.notify-item{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 350px !important;
}
.notify-image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 15px;
}
.notify-content{
  width: 100%;
  white-space: initial;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 2.67em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#list-notity{
  max-height: 400px;
  overflow-y: auto;
}
.list-notity{
  margin-bottom: 0;
  padding-bottom: 0;
}
a.dropdown-item.notify-item{
  border-bottom: 1px solid #dddfe2;
  overflow: hidden;
  color: #000;
}

a.dropdown-item.notify-item.unread{
  background-color: #edf2fa;
}

a.dropdown-item.notify-item:hover, a.dropdown-item.notify-item:focus{
  color: #000;
  background-color:#ccc;
  box-shadow: none;
}

.notify-footer a{
  display: block;
  padding: 10px 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.notify-footer a:hover{
  background-color: #fff;
  color: #9c27b0;
  box-shadow: none;
  text-decoration: underline;
}
#no-result{
  font-size: 14px;
  display: block;
}
#video-upload{
  opacity : 1 !important;
  position: initial !important;
}
#video-upload-form{
  display: none;
}
.video-upload .form-group .invalid-feedback{
display: block !important;
} 
input[type='radio']:after {
  width: 21px;
  height: 21px;
  border-radius: 21px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 21px;
  height: 21px;
  border-radius: 21px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #030303;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.form-check .form-check-label {
  color: black;
  font-weight: 500;
}
.link-video{
  color: #000;
}
.link-video:hover{
  color: red;
} 
.logo .logo-normal img{
  display: initial;
    width: 90px;
    height: 91px;
    margin-left: -55px;
}
.avatar {
  width: 50px;
  height: 100px;
  clip-path: circle(25px at 50% 50%);
  margin-left: 91.5%;
  margin-top: -16px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  margin-right: 13px;
  margin-top: -35px;
}
.navbar .navbar-nav .dropdown-menu-right{
  margin-top: -20px;
  margin-right: 29px
}
.navbar.navbar-absolute {
  z-index: -5;
}
.main-panel>.content {
  margin-top: -50px;
}
.image-lefbar img{
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.image-lefbar p {
  display: inline !important;
}
.form-image-new {
  display: inline-block;
}
.list-error {
  margin-bottom: 25px;
}
.title-lable {
  font-size: 17px;
  line-height: 1.42857;
  color: black;
  font-weight: 500;
}
.lable-botom {
  margin-bottom: -25px;
}