* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SFUIText;
}
.login-page {
    width: 100%;
    margin: 0 auto;
}
.login-page .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.login-page .container-login100 .wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}
.login-page .login-form {
    width: 400px;
    padding: 10px 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.login-page .login-form .form-logo {
    padding-top: 30px;
    text-align: center;
}
.login-page .login-form .form-logo .logo {
    height: 150px;
    width: auto;
    margin-bottom: 10px;
}
.login-page .login-form .form-body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.login-page .login-form .form-body .form-group {
    margin-bottom: 1.2rem;
}
.login-page .login-form .form-body .form-button {
    display: block;
    margin-top: 30px;
}
.login-page .login-form .form-body .form-button .btn-custom {
    width: 100%;
    display: block;
    background-color: black ;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    transition: all .15s ease-in-out;
}
.login-page .login-form .form-footer .footer-icon {
    color: #002643;
    margin-bottom: 3px;
}
.login-page .login-form .form-footer .footer-icon i {
    font-size: 20px;
}
.login-page ul, .login-page ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.login-page .login-form .form-footer .footer-brand a {
    text-align: center;
    color: #002643;
    margin-top: 10px;
}
.login-page .login100-banner {
    width: calc(100% - 400px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 1;
    height: 100vh;
}
.login-page .login-form .form-body .form-input {
    background-color: #fff;
    border-radius: 5px;
    height: 50px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.08);
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #576271;
    border: 1px solid transparent;
    transition: all .3s;
}
.login-page .login-form .form-body .form-group .form-link {
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #002643;
    margin-top: 10px;
    display: block;
}
.login-page .login-form .form-footer .footer-icon span {
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: black;
    padding-left: 5px;
}
.login-page .login-form .form-footer ul.footer-info li {
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    display: block;
}
.login-page .login-form .form-footer ul.footer-info li {
    text-align: left;
    color: #576271;
    margin-bottom: 5px;
}
.login-page .login-form .form-footer .footer-brand a {
    text-align: center;
    color: black;
    margin-top: 10px;
}
.login-page .login-form .form-footer .footer-brand a, .login-page .login-form .form-footer ul.footer-info li {
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    display: block;
}
.login-page .login-form .form-body .form-button .btn-custom:hover {
    background: #fff;
    border-color: black;
    color:black;
    transition: all .15s ease-in-out;
}
.project-name{
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color:black;
    padding-left: 5px;
}
.login-page .login-form .form-body .form-group.has-errors .invalid-feedback {
    display: block;
}
.login-page .login-form .form-body .form-group .invalid-feedback {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #e55934;
    margin-top: 8px;
    display: block;
}